{% extends "students/base.html" %}

{% load static from staticfiles %}

{% block meta_title %}Відвідування{% endblock meta_title %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static "css/visiting.css" %}">
{% endblock %}

{% block title %}Облік відвідування{% endblock title %}

{% block content %}
        <div class="months">&larr; Вересень 2018 &rarr;</div>

        <!-- Start Students Listing -->
        <table class="table table-hover table-bordered table-visiting">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Студент</th>
              <th scope="col">Ср 1</th>
              <th scope="col">Чт 2</th>
              <th scope="col">Пт 4</th>
              <th scope="col">Сб 5</th>
              <th scope="col">Нд 6</th>
              <th scope="col">Пн 7</th>
              <th scope="col">Вт 8</th>
              <th scope="col">Ср 9</th>
              <th scope="col">Чт 10</th>
              <th scope="col">Пт 11</th>
              <th scope="col">Сб 12</th>
              <th scope="col">Нд 13</th>
              <th scope="col">Пн 14</th>
              <th scope="col">Вт 15</th>
              <th scope="col">Ср 16</th>
              <th scope="col">Чт 17</th>
              <th scope="col">Пт 18</th>
              <th scope="col">Сб 19</th>
              <th scope="col">Нд 20</th>
              <th scope="col">Пн 21</th>
              <th scope="col">Вт 22</th>
              <th scope="col">Ср 23</th>
              <th scope="col">Чт 24</th>
              <th scope="col">Пт 25</th>
              <th scope="col">Сб 26</th>
              <th scope="col">Нд 27</th>
              <th scope="col">Пн 28</th>
              <th scope="col">Вт 29</th>
              <th scope="col">Ср 30</th>
              <th scope="col">Чт 31</th>
            </tr>
          </thead>
          <tbody>
            {% for visitor in visitors %}
            <tr>
              <th scope="row">{{ forloop.counter }}</th>
                <td><a href="{% url "students_edit" visitor.id %}">{{ visitor.student_visitor.name }}</a></td>
              {% for checkbox in visitor.days %}
              <td>
                <div class="form-check-inline">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" {% if checkbox %}checked{% endif %}/>
                </label>
                </div>
              </td>
              {% endfor %}
            </tr>
          {% endfor %}
          </tbody>
        </table>
    <!-- End Content Columns -->

{% endblock content %}